<h2>Welcome to Channel {{ channelName }}</h2>
<div class="column">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="messagetext" [(ngModel)]="messagetext" name="messagetext" /> &nbsp;
            <button type="button" (click)="chat($event)" class="form-control btn btn-primary">
        <i class="fa fa-comments"></i> Chat
      </button>
        </div>
    </form>
    <div class="card" style="width: 100%" *ngFor="let message of messages">
        <div class="card-body">
            <p class="card-text">
                <span class="small">{{ message.messagetime }} </span><br />
                <img class="mb-4" src="../../assets/av2.png" alt="" width="30" height="30" /> {{ message.user.username }} : {{ message.messagetext }}
            </p>
        </div>
    </div>
</div>
<div class="column">
    <h3>User List in Channel {{ channelName }}:</h3>
    <ul class="groups">
        <li *ngFor="let user of users">
            <a routerLink="/profile/{{ user.username }}">{{ user.username }}</a>
            <button class="delete" title="delete user" (click)="delete(user)">
        x
      </button>
        </li>
    </ul>

    <div>
        <label><h5>Add new user into channel</h5></label>
        <br />
        <label>User name:<input #userName/></label>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="add(userName.value); userName.value = ''">Add</button>
    </div>

    <h3>All Users:</h3>
    <ul class="groups">
        <li *ngFor="let user of users">
            <a routerLink="/profile/{{ user.username }}">{{ user.username }}</a>
        </li>
    </ul>
</div>