<div *ngIf="user">

    <h2>User Profile:</h2>
    <div>
        <label>Name:{{user.username}}
          </label>
        <br/>
        <label>Email:{{user.email}}
          </label>
        <br/>
        <label>Group Admin: {{user.groupAdmin ?  "Yes":"No"}}</label><br>
        <label>Group Assistant: {{user.groupAssist  ?  "Yes":"No" }}</label>
        <!-- <input [ngModel]="user.ofGroupAdminsRole" 
            [checked]="user.ofGroupAdminsRole" type="checkbox" 
            (change)="checkClicked(user.ofGroupAdminsRole)"> -->
    </div>
    <br/>
    <button (click)="goBack()">go back</button>
    <button (click)="edit()">Edit</button>
    <br>
    <label>Upload image</label>

    <form>
        <div class="form-group">
            <input type="file" class="form-control" (change)="onFileSelected($event)" name="uploadfile" id="uploadfile" />
        </div>

        <button class="btn btn-primary" type="button" (click)="onUpload()">
          Submit
      </button>
    </form>

    <!-- <button (click)="upload()">Upload Image</button> -->
</div>